<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills gap-2">
        <li class="nav-item"><a href="/" class="nav-link {{#if NavActiveReg}} active {{/if}}" aria-current="page">Registrar</a></li>
        <li class="nav-item"><a href="/dataset" class="nav-link {{#if NavActiveData}} active {{/if}}">Listar dados</a></li>
      </ul>
    </header>